* {
    margin: 0;
    padding: 0;
    font-family: 'Exo 2';
    --primaryBackground: #181114;
    --primaryAccent: #C6A9B6;
    --secondaryAccent: #FFE085;
    --textColor: #DFE2E2;
    --secondaryTextColor: #1E1E24;
}

body {
    font-size: 22px;
    background-color: var(--primaryBackground);
}

header,
section,
footer {
    width: 100%;
}

.flexbox {
    display: flex;
}

/* header stylings start */
#header {
    background-color: var(--primaryBackground);
    height: 6rem;
    justify-content: space-between;
    align-items: center;
}

#header h1 {
    color: var(--textColor);
    margin-left: 1rem;
}

#header nav {
    color: var(--textColor);
}

#header nav ul {
    list-style: none;
}

#header nav ul li {
    padding: 0.2rem;
    margin: 1rem;
    border-bottom: 0.2rem solid var(--secondaryAccent);
}
/* header stylings end */

/* hero styling start */
#hero {
    color: var(--textColor);
    background-image: url("../images/koi-3303950_640.png");
    background-repeat: repeat;
    height: 17rem;
}
/* hero styling ends */

/* about styling starts */
#about {
    color: var(--secondaryTextColor);
    background-color: var(--secondaryAccent);
    height: 13rem;
}
/* about styling ends */

/* projects styling starts */
#projects {
    background: -webkit-linear-gradient(-90deg, var(--secondaryAccent) 0%, var(--secondaryTextColor) 100%);
    height: 70rem;
    color: var(--secondaryTextColor);
}
/* projects styling ends */

/* contact styling starts */
#contact {
    background-color: var(--secondaryTextColor);
    height: 9rem;
    color: var(--textColor);
}
/* contact styling ends */