* {
    margin: 0;
    padding: 0;
    font-family: 'Exo 2';
    --primaryBackground: #181114;
    --primaryAccent: #C6A9B6;
    --secondaryAccent: #FFE085;
    --textColor: #DFE2E2;
    --secondaryTextColor: #1E1E24;
}

a {
    color: var(--primaryAcent);
    text-decoration: none;
}

body {
    font-size: 22px;
    background-color: var(--primaryBackground);
}

header,
section,
footer {
    width: 100%;
}

.flexbox {
    display: flex;
}

.divider {
    margin: 0.4rem 0.4rem 0.4rem 0.4rem;
    height: auto;
    width: 0.2rem;
    border-radius: 5px;
    background-color: var(--primaryBackground);
}

/* header stylings start */
#header {
    background-color: var(--primaryBackground);
    height: 6rem;
    justify-content: space-between;
    align-items: center;
}

#header h1 {
    color: var(--textColor);
    margin-left: 2rem;
}

#header nav {
    color: var(--textColor);
}

#header nav ul {
    list-style: none;
}

#header nav ul li {
    padding: 0.2rem;
    margin: 1rem;
    border-bottom: 0.2rem solid var(--primaryAccent);
}
/* header stylings end */

/* hero styling start */
#hero {
    grid-column: 1 / 6;
    grid-row: 1;
    color: var(--textColor);
    background-image: url("../images/hero-background.jpg");
    background-repeat: repeat;
    height: 30vw;
}
/* hero styling ends */

/* about styling starts */
#about {
    color: var(--secondaryTextColor);
    background-color: var(--secondaryAccent);
    height: auto;
    display: grid;
    grid-template-columns: 20% 1% 59% 20%;
    grid-template-rows: 10% / auto-flow;
}

#about h2.flexbox {
    margin: 0.2rem;
    justify-content: flex-end;
    grid-column: 1;
}

#about p {
    margin: 0.4rem;
}
/* about styling ends */

/* projects styling starts */
#projects {
    background: var(--secondaryAccent);
    height: auto;
    color: var(--secondaryTextColor);
    display: grid;
    grid-template-columns: 20% 1% 59% 20%;
    grid-template-rows: auto / auto-flow;
}

#projects h2.flexbox {
    margin: 0.2rem;
    justify-content: flex-end;
}

#projectGrid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto 20% 20% / auto-flow;
}

#projectGrid article {
    margin: 0.5rem;
    border-radius: 8px;
    border: 5px solid var(--primaryBackground);
    object-fit: fill;
}

#projectGrid article:first-child {
    margin-top: 0.9rem;
    grid-row: 1;
    grid-column: 1 / 3;
}
/* portfolio card styling start */
.portfolioItem.flexbox {
    align-items: flex-end;
    justify-content: flex-end;
}

.portfolioItem label {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    color: var(--textColor);
    padding: 0 0.4rem 0.4rem 0.4rem;
    margin-bottom: 1rem;
    background-color: var(--primaryBackground);
}

.portfolioItem img {
    height: 7rem;
    width: 100%;
    object-fit: cover;
}

.portfolioItem.featured img {
    height: auto;
}
/* portfolio stying end */

/* projects styling ends */

/* contact styling starts */
#contact {
    grid-row: 4;
    grid-column: 1 / 6;
    background-color: var(--primaryBackground);
    height: 9rem;
    color: var(--textColor);
}
/* contact styling ends */